<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <ul>
                <li><a th:href="@{/uutiset}">Uutiset</a></li>
                <li><a th:href="@{/hallintapaneeli}">Hallintapaneeli</a></li>
                <li><a th:href="@{/kirjoittajat}">Kirjoittajat</a></li>
                <li><a th:href="@{/kategoriat}">Kategoriat</a></li>                
            </ul>
           <form th:action="@{/logout}" method="POST">
               <input type="submit" value="Logout"></input>
           </form>

        </header>
    </body>
</html>
