<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutinen</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>headeri...</p>
        </header>

        <h2 th:text="${uutinen.otsikko}">Uutinen</h2>

        <p th:text="${uutinen.ingressi}">ingressi</p>

        <p th:text="${uutinen.teksti}">teksti</p>
        <p th:text="${uutinen.julkaisuaika}">julkaisuaika</p>
        <p th:each="kirjoittaja : ${kirjoittajat}" th:text="${kirjoittaja}">kirjoittajat</p>
        <p th:each="kategoria : ${kategoriat}" th:text="${uutinen.kategoria}">kategoriat</p>        
<!-- -->      
    </body>
</html>
