<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutinen</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>headeri...</p>
        </header>

        <h2 th:text="${uutinen.otsikko}">Uutinen</h2>

        <p>Ingressi: <span th:text="${uutinen.ingressi}"></span></p>
        <img th:src="@{/kuva/{kuvaId}(kuvaId=${uutinen.kuvaObjektiId})}" alt="Kuva" style="width:400px;height:400px;"></img>
        <p>Teksti:  <span th:text="${uutinen.teksti}"></span></p>
        <p>Julkaisuaika: <span th:text="${uutinen.julkaisuaika}"></span></p>
        <span>Kirjoittajat: </span>
        <ul th:each="kirjoittaja : ${uutinen.kirjoittajat}">
            <li th:text="${kirjoittaja.nimi}">
            </li>
        </ul>        
        <span>Kategoriat: </span> 
        <ul th:each="kategoria : ${uutinen.kategoriat} " >
            <li th:text="${kategoria.nimi}">
            </li>
        </ul> 
        
        <p>Lukumäärä: <span th:text="${uutinen.lukumaara}"></span></p>        
<!-- -->      
    </body>
</html>
