<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Uutiset</h1>

        <ul>
            <li th:each="uutinen : ${uutiset}">
                <h3 th:text="${uutinen.otsikko}">Uutinen</h3>
                <p>Ingressi: <span th:text="${uutinen.ingressi}"></span></p>                
                <img th:src="@{/kuva/{kuvaId}(kuvaId=${uutinen.kuvaObjektiId})}" alt="Kuva" style="width:150px;height:150px;"></img>                
                <form th:action="@{/uutiset/{id}(id=${uutinen.id})}" th:method="GET">
                    <input type="submit" value="Uutiseen"/>
                </form>
            </li>
        </ul>
    </body>
</html>
